@import 'tailwindcss';
@import 'react-photo-album/rows.css';

:root {
  --background: #faf5f3;
  --foreground: #171717;

  --primary-brown-light: #7a5c4b;
  --primary-brown: #59331e;
  --primary-brown-dark: #472918;
  --primary-beige-light: #fdedc6;
  --primary-beige: #fce8b8;
  --primary-beige-dark: #caba93;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-brown-dark: var(--primary-brown-dark);
  --color-primary-brown: var(--primary-brown);
  --color-primary-brown-light: var(--primary-brown-light);
  --color-primary-beige-dark: var(--primary-beige-dark);
  --color-primary-beige: var(--primary-beige);
  --color-primary-beige-light: var(--primary-beige-light);

  --color-col: var(--col);
}

@layer utilities {
  .sweets-bg {
    background-image: url('/sweets-bg@2x.png');
    background-image: -webkit-image-set(
      url('/sweets-bg@2x.png') 1x,
      url('/sweets-bg@2x.png') 2x
    );
    background-image: image-set(
      url('/sweets-bg@2x.png') 1x,
      url('/sweets-bg@2x.png') 2x
    );
  }

  .savory-bg {
    background-image: url('/savory-bg@2x.png');
    background-image: -webkit-image-set(
      url('/savory-bg@2x.png') 1x,
      url('/savory-bg@2x.png') 2x
    );
    background-image: image-set(
      url('/savory-bg@2x.png') 1x,
      url('/savory-bg@2x.png') 2x
    );
  }

  .free-from-bg {
    background-image: url('/free-from-bg@2x.png');
    background-image: -webkit-image-set(
      url('/free-from-bg@2x.png') 1x,
      url('/free-from-bg@2x.png') 2x
    );
    background-image: image-set(
      url('/free-from-bg@2x.png') 1x,
      url('/free-from-bg@2x.png') 2x
    );
  }

  .fr-from-bg {
    background-image: url('/fr-from.png');
    background-image: -webkit-image-set(
      url('/fr-from.png') 1x,
      url('/fr-from@2x.png') 2x
    );
    background-image: image-set(
      url('/fr-from.png') 1x,
      url('/fr-from@2x.png') 2x
    );
  }
}
